.branches {
  padding-top: 62px;
}

.branches .section__title {
  margin-bottom: 55px;
}

.branches__map {
  box-sizing: border-box;
  width: 1170px;
  height: 462px;
  outline: 1px solid violet;
}


@media (max-width: $max-tablet-width) {
  .branches {
    padding-top: 35px;
  }
}

@media (max-width: $max-mobile-width) {
  .branches {
    padding-top: 20px;
  }
}