.calculator {
  padding-bottom: 0;
}

.calculator__steps-wrapper {
  max-width: 600px;
}

.calculator__step {
  margin-bottom: 34px;

  &--two {
    margin-bottom: 0;
  }
}

.calculator__step-title {
  @include indents-none;
  @include font-weight($medium);
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 30px;
}

.calculator__step--two .calculator__step-title {
  margin-bottom: 19px;
}

@media (max-width: $max-tablet-width) {
  .calculator {
    padding-bottom: 0;
  }

  .calculator__steps-wrapper {
    max-width: 678px;
  }

  .calculator__step-title {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: $max-mobile-width) {
  .calculator {
    padding-bottom: 0;
  }

  .calculator__steps-wrapper {
    max-width: 290px;
  }

  .calculator__step-title {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 22px;
  }
}
