.container {
  box-sizing: border-box;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 98px;
}

@media (max-width: $max-tablet-width) {
  .container {
    max-width: $max-tablet-width;
    padding: 0 45px;
    // outline: 1px solid tomato;
  }
}

@media (max-width: $max-mobile-width) {
  .container {
    max-width: $max-mobile-width;
    padding: 0 15px;
    // outline: 1px solid tomato;
  }
}

