.section__wrapper {
//   outline: 1px solid fuchsia;
  padding-top: 96px;
  padding-bottom: 96px;
}

.section__title {
  @include indents-none;
  @include font-weight($bold);
  margin-bottom: 48px;
  font-size: 41px;
  line-height: 59px;
}

@media (max-width: $max-tablet-width) {
  .section__wrapper {
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .section__title {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 44px;
  }
}

@media (max-width: $max-mobile-width) {
  .section__wrapper {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .section__title {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 30px;
  }
}
